/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-catalog-layouts-photo-grid  {
  display: flex;
  position: relative;
  min-height: 450px;
  overflow: auto;

  .grid {
    display: flex;
    flex-wrap: row;
    align-items: stretch;
    width: 40%;
    margin: 20px;

    div {
      flex: 1;
      background-size: cover;
      background-position: center center;
    }

    // Vertical containers - 1 large vertical image
    div:nth-child(1),
    div:nth-child(2) {
      flex-basis: 50%;
      margin: 0;
    }

    div:nth-child(1) {
      margin: 0 3% 0 0;
    }

    div:nth-child(2) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
         
      div {
        flex-basis: 100%;
        &:nth-child(1) {
          margin: 0 0 10px 0;
        }
      }
    }
  }

  .content {
    background: $tan;
    width: 80%;
    margin: 20px 20px 20px 0;
    padding: 9% 30px 30px 30px;
    
    P {
      margin-bottom: 40px;
    }
  }

  @media only screen and (max-width: 768px) {
    
    flex-direction: column;
    
    .grid, .content {
      width: 90%;
      margin: 0 5%;
      min-height: 425px;
    }
    
    .grid {
      padding: 20px 0;
    }
    
    .content {
      margin-bottom: 5%;
      min-height: auto;
    }
  }  
}
