/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200i,300,300i,400,400i,600,600i,700,700i&display=swap');

 // Colors
$dark-gray: #545353;
$creme:      #f7f7f4;
$tan:        #f1ece6;
$dark-tan:   #e8e1d8;
$khaki:      #798072;
$dark-khaki: #666b61;
$light-gray: #b3b3b3;
$gray:       #969696;
$dark-gray:  #545353;

.editor-styles-wrapper .wp-block > .catalog-layout-block, 
.alignwide.catalog-layout-block, .alignfull.catalog-layout-block,
.catalog-layout-block {
    
    width: 95%;
    max-width: 95%;
    margin: 0 2.5%;
    background: #ffffff;
    color: #555555;
    font: 400 14px/1.45em 'Source Sans Pro', sans-serif;

    h1, h2 {
        margin: 7px 0;
        font: italic 400 1.36em 'Montserrat', sans-serif;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.55em;
        color: $dark-gray;
    }
    
    h1 {
        font: 400 2.45em/1.4em 'Montserrat', sans-serif;
    }
    
    p {
        font: 400 14px/1.45em 'Source Sans Pro', sans-serif;
        margin: 20px auto;
    }

    a {
        text-decoration: none;
        color: #777777;
        
        &:hover{
         color: $khaki;
        }
    }

    .arrow-button {
        text-decoration: none;
        font-size: 14px;
        color: #555555;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-size: 17px;
            color: $gray;
            padding: 0;
            margin: 0 10px 0 0;
            border-radius: 50%;
            border: 1px solid $gray;
        }  
    }
}


